body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1d3557;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #457b9d;
  padding: 2em 5em;
  border-radius: 1em;
}

.App h1,
.App h2 {
  color: #f1faee;
}

.App .buttons button {
  background-color: #f1faee;
  color: #1d3557;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
